* {
  box-sizing: border-box;
}

.App {
  margin: auto;
  width: 100%;
  max-width: 900px;
}

.Repository-List {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Repository-List-Item {
  padding: 8px;
  border: solid 1px lightgray;
  border-top: none;
  background-color: white;
}

.User-Group-Title {
  font-size: large;
  text-transform: uppercase;
}

.Repository-List-Item:first-of-type {
  border-top: solid 1px lightgray;
}

.User-Container {
  display: flex;
  align-items: center;
}

.User-Avatar {
  max-height: 175px;
}

.User-Name {
  font-size: xx-large;
  font-weight: 350;
}

.Control {
  display: block;
  margin: 5px;
  width: 100%;
}

.Control-Padding {
  padding: 12px 18px;
}

.Reset-Btn {
  margin: 5px 0px;
}
